#infowindow
  %header
    .coordinates
      .latitude
        = point.latitude
      .longitude
        = point.longitude
    .address
      %h5.address
        = point.address
  %h5
    Description:
  .thumbnail
    %p{:class => "point_desc", :owner => owner, :id => point.id}
      = point.description
  %p.actions
    %a{ :href=>"#", :id => "save", :class=>"btn btn-success", :style => "display: none;"}
      Save
    %a{ :href=>"#", :id => "cancel", :class=>"btn btn", :style => "display: none;"}
      Cancel
    = link_to 'Delete POI', "#", :confirm=>'Are you sure?',:id => "delete", :class=>"btn btn-danger", :style => "display: none;"
