<%= devise_error_messages! %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :class => "form-signup"}) do |f| %>

    <h2 class="form-signin-heading">Edit <%= resource_name.to_s.humanize %></h2>
    <%= f.email_field :email, :autofocus => true, :class => "input-block-level", :placeholder => "Email address" %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
    <% end %>

    <%= f.password_field :password, :class => "input-block-level", :placeholder => "Password" %>

    <%= f.password_field :password_confirmation , :class => "input-block-level", :placeholder => "Password confirmation" %>

    <div>
      <%= f.label :current_password %>
      <i>(we need your current password to confirm your changes)</i><br/>
      <%= f.password_field :current_password , :class => "input-block-level", :placeholder => "Current_password" %>
      <%#= f.password_field :current_password %>
    </div>

    <button class="btn btn-primary" type="submit">Update</button>

    <p>
      </br>
      <%= link_to "Back", :back %>
    </p>
<% end %>

